.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --primary-color: #2a696e;
  --secondary-color: #0097b2;
  --accent-color: #1D3557;
  --neutral-color: #fcfcf7;
  --extra-light: #f0f0f0;
  --white: #fff;
  --text-dark: #333;
  --text-color: #0c0c0c;
  --text-light: #f0f0f0;
  --font-body: 'Plus_Jakarta_Sans', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --max-width: 1200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  background-color: var(--neutral-color);
  color: var(--text-color);
  line-height: 1.6;
}

html,body{
  scroll-behavior: smooth;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
